apiVersion: v1
kind: Secret
metadata:
  name: netatmo2ros-secrets
type: Opaque
data:
  username: USERNAME ENCODED IN BASE64
  password: PASSWORD ENCODED IN BASE64
  client_id: CLIENT_ID ENCODED IN BASE64
  client_secret: CLIENT_SECRET ENCODED IN BASE64
  device_id: DEVICE_ID ENCODED IN BASE64
